body {
  margin: 0;
  line-height: normal;
}
.erdb-client-side-view-balan-child {
  position: absolute;
  top: 139.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.erdb-multi-purpose-cooperative {
  position: absolute;
  top: 28px;
  left: 265px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  color: var(--color-midnightblue);
  width: 776px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.erdb-client-side-view-balan-item {
  position: absolute;
  top: 193.5px;
  left: 411.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 774px;
}
.erdb-client-side-view-balan-inner {
  position: absolute;
  top: 240px;
  left: 101px;
  background-color: var(--color-gainsboro);
  width: 175px;
  height: 165px;
}
.erdbmc78gmailcom,.name {
  position: absolute;
  top: 508px;
  left: -18px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 25px;
}
.erdbmc78gmailcom {
  top: 913px;
  left: 83px;
  text-decoration: underline;
  font-style: italic;
  color: inherit;
  text-align: left;
  width: 250px;
  height: 30px;
}
.address, .birthday, .contact-no, .gender,.tax-identification-number {
  position: absolute;
  top: 551px;
  left: -1px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 25px;
}
.address,
.contact-no,
.gender {
  top: 594px;
  left: -7px;
}
.address,
.contact-no {
  top: 670px;
  left: 16px;
}
.address {
  top: 713px;
  left: -2px;
}

.button-open-links-navigate1 {
  position: relative;
  width: 136px;
  height: 55px;
}
.personal-information {
  position: absolute;
  top: 468px;
  left: 23px;
}
.button-open-links-navigate2 {
  position: relative;
  width: 159px;
  height: 55px;
}
.greetings-ian {
  position: absolute;
  top: 194px;
  left: 452px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-weight: 700;
  text-align: left;
  width: 338px;
  height: 46px;
}
.erdb-client-side-view-balan-child1 {
  position: absolute;
  top: 268px;
  left: 452px;
  background-color: rgba(160, 150, 145, 0.99);
  width: 942px;
  height: 627px;
}
.cda-reg-no{
  position: absolute;
  top: 756px;
  left: 26px;
  font-weight: 300;
  display: inline-block;
  width: 301px;
  height: 25px;
}
.cda-reg-no {
  top: 95px;
  left: 265px;
  text-align: left;
  width: 347px;
  height: 23px;
}
.cin-0103040418 {
  top: 95px;
  left: 639px;
  font-weight: 300;
  width: 195px;
  height: 22px;
}
.cin-0103040418,
.contact-us,
.tin-004-142-198-000 {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.tin-004-142-198-000 {
  top: 95px;
  left: 863px;
  font-weight: 300;
  width: 258px;
  height: 22px;
}
.contact-us {
  top: 884px;
  left: 28px;
  width: 175px;
  height: 29px;
}
.ellipse-icon,
.erdb-client-side-view-balan-child2 {
  position: absolute;
  top: 105px;
  left: 622px;
  width: 7px;
  height: 7px;
}
.erdb-client-side-view-balan-child2 {
  top: 106px;
  left: 845px;
}
.g-mail-icon,
.id-1234567 {
  position: absolute;
  top: 882px;
  left: 0;
  width: 125px;
  height: 142px;
}
.id-1234567 {
  top: 411px;
  left: 86px;
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 215px;
  height: 35px;
}
.clients-balance,
.email-address {
  position: absolute;
  top: 576px;
  left: 765px;
  font-weight: 300;
  display: inline-block;
  width: 316px;
  height: 47px;
}
.email-address {
  top: 632px;
  left: -1px;
  width: 227px;
  height: 25px;
}
.coop3-removebg-preview-1-icon1,
.my-2x2-picture-1 {
  position: absolute;
  top: 28px;
  left: 60px;
  width: 199px;
  height: 214px;
  object-fit: cover;
}
.my-2x2-picture-1 {
  top: 228px;
  left: 96px;
  width: 180px;
  height: 177px;
}
.erdb-client-side-view-balan {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
