body {
  margin: 0;
  line-height: normal;
}
.erdb-client-side-edit-profi-child {
  position: absolute;
  top: 139.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.erdb-client-side-edit-profi-item {
  position: absolute;
  top: 248px;
  left: 425px;
  width: 4.01px;
  height: 689px;
}
.erdb-client-side-edit-profi-inner {
  position: absolute;
  top: 250px;
  left: 107px;
  background-color: var(--color-gainsboro);
  width: 175px;
  height: 165px;
}
.surname {
  top: 359px;
  left: 452px;
  width: 112px;
  height: 25px;
}
.edit-profile,
.given-name,
.surname {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.edit-profile {
  top: 248px;
  left: 465px;
  font-size: var(--font-size-2xl);
  text-align: left;
  width: 272px;
  height: 70px;
}
.given-name {
  top: 408px;
  left: 446px;
  width: 155px;
  height: 25px;
}
.address1,
.contact-no1,
.email-address1,
.extension,
.gender1,
.middle-name,
.tin {
  position: absolute;
  top: 453px;
  left: 443px;
  font-weight: 600;
  display: inline-block;
  width: 172px;
  height: 25px;
}
.address1,
.contact-no1,
.email-address1,
.extension,
.gender1,
.tin {
  top: 560px;
  width: 178px;
}
.address1,
.contact-no1,
.extension,
.gender1,
.tin {
  top: 608px;
  left: 446px;
  width: 144px;
}
.address1,
.extension,
.gender1,
.tin {
  top: 653px;
  left: 445px;
  width: 117px;
}
.extension,
.gender1,
.tin {
  top: 705px;
  left: 452px;
  width: 55px;
}
.extension,
.gender1 {
  top: 509px;
  left: 436px;
  width: 149px;
}
.gender1 {
  top: 395px;
  left: 1041px;
  width: 113px;
  height: 29px;
}
.birthday1,
.rectangle-icon {
  position: absolute;
  top: 391px;
  left: 1163px;
  width: 127px;
  height: 33px;
}
.birthday1 {
  top: 344px;
  left: 1049px;
  font-weight: 600;
  display: inline-block;
  width: 114px;
  height: 25px;
}
.erdb-client-side-edit-profi-child1 {
  position: absolute;
  top: 342px;
  left: 1163px;
  width: 147px;
  height: 33px;
}
.mmddyyyy {
  position: absolute;
  top: 350px;
  left: 1174px;
  font-size: 14px;
  text-align: left;
}
.calendar-12-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.calendar-12,
.polygon-icon {
  position: absolute;
  top: 346px;
  left: 1271px;
  width: 42px;
  height: 27px;
}
.polygon-icon {
  top: 402.75px;
  left: 1270px;
  width: 12.99px;
  height: 11.25px;
}
.erdb-multi-purpose-cooperative2 {
  position: absolute;
  top: 28px;
  left: 265px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  color: var(--color-midnightblue);
  width: 776px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.cda-reg-no2,
.cin-01030404182,
.tin-004-142-198-0002 {
  position: absolute;
  top: 95px;
  left: 266px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 347px;
  height: 23px;
}
.cin-01030404182,
.tin-004-142-198-0002 {
  left: 639px;
  width: 195px;
  height: 22px;
}
.tin-004-142-198-0002 {
  left: 863px;
  width: 258px;
}
.erdb-client-side-edit-profi-child2 {
  position: absolute;
  top: 105px;
  left: 623px;
  width: 7px;
  height: 7px;
}
.erdb-client-side-edit-profi-child3,
.id-12345672 {
  position: absolute;
  top: 106px;
  left: 845px;
  width: 7px;
  height: 7px;
}
.id-12345672 {
  top: 424px;
  left: 87px;
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 215px;
  height: 35px;
}
.erdb-client-side-edit-profi-child4,
.erdb-client-side-edit-profi-child5 {
  position: absolute;
  top: 355px;
  left: 639px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 297px;
  height: 25px;
}
.erdb-client-side-edit-profi-child5 {
  top: 406px;
}
.erdb-client-side-edit-profi-child10,
.erdb-client-side-edit-profi-child6,
.erdb-client-side-edit-profi-child7,
.erdb-client-side-edit-profi-child8,
.erdb-client-side-edit-profi-child9 {
  position: absolute;
  top: 458px;
  left: 639px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 297px;
  height: 25px;
}
.erdb-client-side-edit-profi-child10,
.erdb-client-side-edit-profi-child7,
.erdb-client-side-edit-profi-child8,
.erdb-client-side-edit-profi-child9 {
  top: 509px;
}
.erdb-client-side-edit-profi-child10,
.erdb-client-side-edit-profi-child8,
.erdb-client-side-edit-profi-child9 {
  top: 560px;
}
.erdb-client-side-edit-profi-child10,
.erdb-client-side-edit-profi-child9 {
  top: 608px;
}
.erdb-client-side-edit-profi-child10 {
  top: 656px;
}
.name1 {
  position: absolute;
  top: 523px;
  left: -17px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 25px;
}
.erdb-client-side-edit-profi-child11 {
  position: absolute;
  top: 705px;
  left: 639px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 297px;
  height: 25px;
}
.erdbmc78gmailcom1 {
  position: absolute;
  top: 928px;
  left: 84px;
  text-decoration: underline;
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  color: inherit;
  text-align: left;
  width: 250px;
  height: 30px;
}
.address2,
.birthday2,
.contact-no2,
.gender2 {
  position: absolute;
  top: 566px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 25px;
}
.address2,
.contact-no2,
.gender2 {
  top: 609px;
  left: -6px;
}
.address2,
.contact-no2 {
  top: 685px;
  left: 17px;
}
.address2 {
  top: 728px;
  left: -1px;
}
.button-open-links-navigate3 {
  position: relative;
  width: 0;
  height: 0;
}
.personal-information1 {
  position: absolute;
  top: 483px;
  left: 24px;
}
.button-open-links-navigate4 {
  position: relative;
  width: 169px;
  height: 55px;
}
.tax-identification-number1 {
  position: absolute;
  top: 771px;
  left: 27px;
  font-weight: 300;
  display: inline-block;
  width: 301px;
  height: 25px;
}
.contact-us1 {
  position: absolute;
  top: 899px;
  left: 29px;
  display: inline-block;
  text-align: left;
  width: 175px;
  height: 29px;
}
.email-address2,
.g-mail-icon1 {
  position: absolute;
  top: 897px;
  left: 0;
  width: 126px;
  height: 127px;
}
.email-address2 {
  top: 647px;
  font-weight: 300;
  display: inline-block;
  width: 227px;
  height: 25px;
}
.button-open-links-navigate5 {
  position: relative;
  width: 136px;
  height: 55px;
}
.coop3-removebg-preview-2-icon,
.my-2x2-picture-11 {
  position: absolute;
  top: 33px;
  left: 55px;
  width: 199px;
  height: 214px;
  object-fit: cover;
}
.my-2x2-picture-11 {
  top: 238px;
  left: 107px;
  width: 180px;
  height: 177px;
}
.erdb-client-side-edit-profi {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
