:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 36px;
  --font-size-2xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-midnightblue: #120c52;
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
}
