body {
  color: #404e67;
  background: #f5f7fa;
  font-family: "Open Sans", sans-serif;
}

th,
td {
  /* padding: 8px; */
  color: black;
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}

table {
  text-align: center;
}

.table-hover tbody tr:hover td {
  background-color: #d1d119;
}

.card-img-top {
  height: 5px;
}

.rounded-circle {
  border-radius: 50% !important;
  background-color: gray;
}
